<a href="https://colab.research.google.com/github/JGradone/Topics-Sentinel/blob/main/Rutgers_Topics_in_Marine_Science_Activity_1_Sentinel_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 1 - Sentinel Glider Data
**2025 Rutgers University Topics in Marine Science**

*Written by Joe Gradone, Rutgers University, January 22, 2025*

*Inspired by https://colab.research.google.com/github/ooi-data-lab/datalab-reu-2020/blob/master/Activity_1_Python_Basics.ipynb*

Welcome to Python!  In this notebook, we will demonstrate how you can quickly get started programming in Python, using Google's cool [Colaboratory](https://colab.research.google.com) platform. Colab is basically a free service that can run Python/Jupyter notebooks in the cloud.

In this notebook, we will demonstrate some of the basics of programming Python.  If you want to lean more, there are lots of other resources and training sessions out there, including the official [Python Tutorial](https://docs.python.org/3/tutorial/).  But as an oceanographer, you don't really need to know all the ins-and-outs of programming (though it helps), especially when just starting out.  

Over the next few sessions we will cover many of the basic recipes you need to:
* Quickly load some data
* Make some quick plots, and make them look good
* Calculate a few basic statistics and averages
* And save the data to a new file you can use elsewhere.

## Getting Started

Jupyter notebooks have two kids of cells.  "Markdown" cells, like this one which can contain formatted text, and "Code" cells, which contain the code you will run.

To execute the code in a cell, you can either:
* click the **Play** icon on the left
* type **Cmd (or Ctrl) + Enter** to run the cell in place
* or type **Shift + Enter** to run the cell and move the focus to the next cell.

You can try all these options on our first very elaborate piece of code in the next cell.

After you execute the cell, the result will automatically display underneath the cell.

In [1]:
2+2

4

In [2]:
print("Hello, world!")

Hello, world!

In [3]:
# This is a comment

As we go through the notebooks, you can add your own comments or text blocks to save your notes.

In [4]:
# Your Turn: Create your own print() command here with your name
print()

**A note about print()**

* By default, a Colab/Jupyter notebook will print out the output from the last line, so you don't have to specify the `print()` command.  
* However, if we want to output the results from additional lines (as we do below), we need to use `print()` on each line.
* Sometimes, you can suppress the output from the last line by adding a semi-colon `;` at the end.

In [5]:
3
4
5

5

In [7]:
print(3)
print(4)
print(5)

3
4
5

## Some Basics
Let's review a few basic features of programming.  

First, it's great for math.  You can use addition (+), subtraction (-), multiplication (\*), division (/) and exponents (**).

In [8]:
# Your Turn: Try some math here
5*2

10

In [9]:
print(5 * 2 + 3)
print(5 * (2+3))
print((5 * 2) + 3)

13
25
13

## Variables

In [12]:
# We can eailsy assign variables, just like in other languages
x = 4
y = 2.5

In [11]:
# And we can use them in our formulas
print(x + y)
print(x/y)

6.5
1.6

In [13]:
# What kind of objects are these?
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

## Strings

In [14]:
# A string needs to be in quotes (single or double)
z = 'Python is great'
z

'Python is great'

In [15]:
# You can't concatenate (add) strings and integers
print( z + x )

TypeError: can only concatenate str (not "int") to str

In [16]:
# But you can multiply them!
print( z * x )

Python is greatPython is greatPython is greatPython is great

In [17]:
# If you convert an integer into a string, you can then catenate them
print( z + ' ' + str(x) + ' you!' )

Python is great 4 you!

In [18]:
# A better way
print( 'Python is great %s you!' % x )

Python is great 4 you!

## Fun with Lists
Remember, Python uses 0-based indexes, so to grab the first element in a list you actually use "0".  The last element is n-1, or just "-1" for short. In Matlab this would be 1 to n, or 1:end.

In [21]:
my_list = [3, 4, 5, 9, 12, 13]

In [22]:
# The fist item
my_list[0]

3

In [23]:
# The last item
my_list[-1]

13

In [24]:
# Extract a subset
my_list[2:5]

[5, 9, 12]

In [25]:
# A subset from the end
my_list[-3:]

[9, 12, 13]

In [26]:
# Update a value
my_list[3] = 99
my_list

[3, 4, 5, 99, 12, 13]

## Arrays
Note, a list is not an array by default.  But we can turn it into an array using the *NumPy* library.

NumPy is an essential library for working with scientific data. It provides an array object that is very similar to Matlab's array functionality, allowing you to perform mathematical calculations or run linear algebra routines.

In [27]:
my_list * x

[3,
 4,
 5,
 99,
 12,
 13,
 3,
 4,
 5,
 99,
 12,
 13,
 3,
 4,
 5,
 99,
 12,
 13,
 3,
 4,
 5,
 99,
 12,
 13]

In [19]:
import numpy as np

In [28]:
a = np.array(my_list)
a * x

array([ 12,  16,  20, 396,  48,  52])

## Let's load some glider data now!